<div class="card">
  <div class="card-header">Sign Up!</div>

  <div class="card-body">
    <form novalidate (ngSubmit)="save()" [formGroup]="customerForm">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="firstNameId"
          >First Name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="firstNameId"
            type="text"
            placeholder="First Name (required)"
            required
            minlength="3"
            formControlName="firstName"
            name="firstName"
            [ngClass]="{
              'is-invalid':
                (customerForm.get('firstName').touched ||
                  customerForm.get('firstName').dirty) &&
                !customerForm.get('firstName').valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="customerForm.get('firstName').errors?.required">
              Please enter your first name.
            </span>
            <span *ngIf="customerForm.get('firstName').errors?.minlength">
              The first name must be longer than 3 characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="lastNameId"
          >Last Name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="lastNameId"
            type="text"
            placeholder="Last Name (required)"
            required
            maxlength="50"
            [ngClass]="{
              'is-invalid':
                (customerForm.get('lastName').touched ||
                  customerForm.get('lastName').dirty) &&
                !customerForm.get('lastName').valid
            }"
            formControlName="lastName"
          />
          <span class="invalid-feedback">
            <span *ngIf="customerForm.get('lastName').errors?.required">
              Please enter your last name.
            </span>
            <span *ngIf="customerForm.get('lastName').errors?.maxlength">
              The last name must be less than 50 characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="emailId">Email</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="emailId"
            type="email"
            placeholder="Email (required)"
            required
            email
            [ngClass]="{
              'is-invalid':
                (customerForm.get('email').touched ||
                  customerForm.get('email').dirty) &&
                !customerForm.get('email').valid
            }"
            formControlName="email"
          />
          <span class="invalid-feedback">
            <span *ngIf="customerForm.get('email').errors?.required">
              Please enter your email address.
            </span>
            <span *ngIf="customerForm.get('email').errors?.email">
              Please enter a valid email address.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="col-md-8">
          <div class="form-check">
            <label class="form-check-label">
              <input
                class="form-check-input"
                id="sendCatalogId"
                type="checkbox"
                formControlName="sendCatalog"
              />
              Send me your catalog
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="customer.sendCatalog">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label pt-0">Address Type</label>
          <div class="col-md-8">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  id="addressType1Id"
                  type="radio"
                  value="home"
                />
                Home
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  id="addressType1Id"
                  type="radio"
                  value="work"
                />
                Work
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  id="addressType1Id"
                  type="radio"
                  value="other"
                />
                Other
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="street1Id"
            >Street Address 1</label
          >
          <div class="col-md-8">
            <input
              class="form-control"
              id="street1Id"
              type="text"
              placeholder="Street address"
            />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="street2Id"
            >Street Address 2</label
          >
          <div class="col-md-8">
            <input
              class="form-control"
              id="street2Id"
              type="text"
              placeholder="Street address (second line)"
            />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="cityId"
            >City, State, Zip Code</label
          >
          <div class="col-md-3">
            <input
              class="form-control"
              id="cityId"
              type="text"
              placeholder="City"
            />
          </div>
          <div class="col-md-3">
            <select class="form-control" id="stateId">
              <option value="" disabled selected hidden>
                Select a State...
              </option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
          </div>
          <div class="col-md-2">
            <input
              class="form-control"
              id="zipId"
              type="number"
              placeholder="Zip Code"
            />
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button
            class="btn btn-primary mr-3"
            type="submit"
            style="width: 80px"
            [title]="
              customerForm.valid
                ? 'Save your entered data'
                : 'Disabled until the form data is valid'
            "
            [disabled]="!customerForm.valid"
          >
            Save
          </button>
          <button class="btn btn-outline-secondary" type='button' (click)="populateTestData()">Test Data</button>
        </div>
      </div>
    </form>
  </div>
</div>
<br />Dirty: {{ customerForm.dirty }} <br />Touched: {{ customerForm.touched }}
<br />Valid: {{ customerForm.valid }} <br />Value:
{{ customerForm.value | json }}
